{{#each parks}}
    <h3>{{this.parkName}}</h3>
    <p>{{this.streetAddress}}</p>
    <p>{{this.borough}} | {{this.zipcode}}</p>
    <p>{{this.type}} | {{this.size}} Acres</p>
    <form id="like_dislike" name="like_dislike">
        <label for="likes">Likes</label>
        <input type="button" id="likes" name="likes" value="{{this.likes}}">
        <label for="dislikes">Dislikes</label>
        <input type="button" id="dislikes" name="dislikes" value="{{this.dislikes}}">
    </form>
    <p>{{this.comments}}</p>
{{/each}}

<a href="/parks/{{back}}"><button>Back</button></a>
<a href="/parks/{{next}}"><button>Next</button></a>