<section>
  <h2>Parks</h2>

  {{#if parks}}
    {{#each parks}}
      <article class="park-card">
        <h3>{{this.parkName}}</h3> 
        <p>{{this.score}}/5</p>
        <p>{{this.streetAddress}}</p>
        <p>{{this.borough}} | {{this.zipcode}}</p>
        <p>{{this.type}} | {{this.size}} Acres</p>

        <div class="likes-section">
          <form class="like-dislike-form">
            <button type="button" class="like-btn">Likes: {{this.likes}}</button>
            <button type="button" class="dislike-btn">Dislikes: {{this.dislikes}}</button>
          </form>
        </div>

        {{#if comments}}
          <h4>Comments:</h4>
          <ul>
            {{#each comments}}
              <li>
                <p><strong>{{this.name}}</strong> ({{this.date}}): {{this.comment}}</p>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <a name="add-comment" id="add-comment" href="/parks/{{this._id}}/comments">View All Comments | Add Comment</a>
        {{#if rating}}
            <h4>Reviews:</h4>
            <ul>
            {{#each rating}}
              <li>
                <p><strong>{{this.name}}</strong> ({{this.date}}): {{title}} - {{rating}}/5</p>
                <p>{{review}}</p>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <a name="add-review" id="add-review" href="/parks/{{this._id}}/rating">View All Reviews | Add Review</a>
      </article>
    {{/each}}
  {{else}}
    <p>No parks found.</p>
  {{/if}}

  <nav class="pagination">
    <a href="/parks/{{back}}"><button type="button">Back</button></a>
    <a href="/parks/{{next}}"><button type="button">Next</button></a>
  </nav>
</section>