<div>
    <h3>Reviews</h3>
    {{#each rec.rating}}
        <article>
            <p>{{this.userId}}: {{this.title}}</p>
            <p>{{this.review}} {{this.rating}}/5</p>
            <p>({{this.date}})</p>
            {{#if reviewed}}
                    <a href="/rec_centers/{{../rec._id}}/rating/{{this._id}}/edit">Edit Review</a>
                    <form method="POST" action="/rec_centers/{{../rec._id}}/rating/{{this._id}}/delete">
                        <button type="submit">Delete Review</button>
                    </form>
            {{/if}}
        </article>
    {{/each}}
</div>
<div>
    <h4>Leave a Review</h4>
    <form method="POST" action="/rec_centers/{{rec._id}}/rating">
        <label for="reviewtitle">Review:</label>
        <input type="text" id="reviewtitle" name="reviewtitle">

        <label for="reviewbox">Description:</label>
        <input type="text" id="reviewbox" name="reviewbox">

        <label for="rating">Rating(1-5):</label>
        <input type="number" id="rating" name="rating" min="1" max="5">

        <button type="submit" id="submitrev" name="submitrev">Post</button>
    </form>

    {{#if errors}}
        <p>{{errors}}</p>
        {{#if login}}
            <a href="/login">Click here to log in</a>
        {{/if}}
    {{/if}}
</div>