<section>
  <h2>Recreation Centers</h2>

  {{#if recs}}
    {{#each recs}}
      <article class="rec-card">
        <h3><a href="/rec_centers/info/{{this._id}}">{{this.recCenterName}}</a></h3>
        <p>Rated: {{this.score}}/5</p>
        <p>Address: {{this.streetAddress}}</p>
        <p>Zipcode: {{this.zipcode}}</p>

        <p>
            <a href="/rec_centers/{{this._id}}/hours">See Hours</a>
            {{this.phoneNumber}}
        </p>

        <div class="likes-section">
          <form class="like-dislike-form">
            <button
          type="button"
          class="like-btn"
          data-id="{{this._id}}"
          data-kind="rec"
        >
          Likes: <span class="like-count">{{this.likes}}</span>
        </button>

        <button
          type="button"
          class="dislike-btn"
          data-id="{{this._id}}"
          data-kind="rec"
        >
          Dislikes: <span class="dislike-count">{{this.dislikes}}</span>
        </button>

        <p class="ajax-error" hidden></p>
          </form>
        </div>

        {{#if this.comments}}
          <h4>Comments:</h4>
          <ul>
            {{#each this.comments}}
              <li>
                <strong>{{this.userId}}</strong> ({{this.date}}): {{this.comment}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <a name="add-comment" id="add-comment" href="/rec_centers/{{this._id}}/comments">View All Comments | Add Comment</a>
        {{#if rating}}
            <h4>Reviews:</h4>
            <ul>
            {{#each rating}}
              <li>
                <p><strong>{{this.userId}}</strong> ({{this.date}}): {{title}} - {{rating}}/5</p>
                <p>{{review}}</p>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <a name="add-review" id="add-review" href="/rec_centers/{{this._id}}/rating">View All Reviews | Add Review</a>
      </article>
    {{/each}}
  {{else}}
    <p>No recreation centers found.</p>
  {{/if}}

  <nav class="pagination">
    <a href="/rec_centers/{{back}}"><button type="button">Back</button></a>
    <a href="/rec_centers/{{next}}"><button type="button">Next</button></a>
  </nav>
</section>
<script src="/public/js/likes_ajax.js"></script>